@inherits LayoutComponentBase
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyApp.Web.Shared.Components
@using MyApp.Web.Shared.IdleScreen
@inject CustomAuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation

<div class="min-h-screen flex bg-gray-50">
    <Sidebar />

    <!-- Main Content Area -->
    <div class="flex-1 flex flex-col">

        <!-- Top Bar -->
        <div class="flex items-center justify-end bg-white shadow px-6 py-3">
            <!-- Bell Icon -->
            <NotificationDropdown />

            <!-- Avatar Circle -->
            <div class="w-10 h-10 rounded-full overflow-hidden border-2 border-gray-300 cursor-pointer">
                <img src="assets/images/avatar.png" alt="User Avatar" class="w-full h-full object-cover" />
            </div>
        </div>

        <!-- Body Content -->
        <div class="flex-1 p-8 relative">
            <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
                <img src="assets/images/mock-polri.png" class="max-w-[50%] max-h-[50%] opacity-15" alt="watermark">
            </div>
            <IdleOverlay />
            @Body
        </div>
    </div>
</div>

@code {
    private Timer? _timer;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        if (!(authState.User.Identity?.IsAuthenticated ?? false))
        {
            Navigation.NavigateTo("/login");
        }
    }

    @* private async void CheckSession(object? state)
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity?.IsAuthenticated ?? true)
        {
            // redirect ke login
            Navigation.NavigateTo("/login");
        }
    } *@

    public void Dispose()
    {
        _timer?.Dispose();
    }
}