version: "3.9"

services:
  web:
    build: .
    ports:
      - "5050:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:8080
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
    restart: unless-stopped
